body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    border: 2px solid white;
    margin-top: 20px;
}

pre {
    text-align: left;
    width: 80%;
    margin: auto;
    background: #222;
    padding: 15px;
    border-radius: 10px;
}
